<a href="https://colab.research.google.com/github/Hrishikesh6666/Data_science/blob/main/26_Getting_Started_with_STATISTICS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('/content/Marks.csv')

In [22]:
df

         name  eng  hin  mth  sci  total    avg
0      Ashish   45   65   76   78    264  66.00
1         Raj   65   45   65   76    251  62.75
2      Rohini   65   67    6   55    193  48.25
3      Rakesh   65   66   77   88    296  74.00
4      Rajesh   88   77   87   89    341  85.25
5      Manish   65   45   45   45    200  50.00
6       Manoj   45   66   88   56    255  63.75
7       Suraj   55   45   76   87    263  65.75
8       Sumit   66   77   45   89    277  69.25
9      Ratish   66   55   66   45    232  58.00
10    Tanisha   77   66   56   87    286  71.50
11  Anonymous   98   89   98   88    373  93.25
12  Anonymous   22   23   34   32    111  27.75

In [7]:
data = list(df.eng)

In [8]:
data

[45, 65, 65, 65, 88, 65, 45, 55, 66, 66, 77, 98, 22]

# **MEAN**

In [9]:
total = 0
for marks in data:
  total = total+marks

In [10]:
total

822

In [11]:
len(data)

13

In [12]:
# To find the avg of data
int(total/len(data))

63

## or

In [19]:
def mean(data):
  total=0
  for marks in data:
    total=total+marks  # Use 'marks' instead of 'markas'
    result = int(total/len(data))
    return result # Return the calculated mean

In [28]:
np.mean(list(df['eng']))

63.23076923076923

In [26]:
np.mean(list(df['hin']))

60.46153846153846

# **MEDIAN**

In [29]:
data

[45, 65, 65, 65, 88, 65, 45, 55, 66, 66, 77, 98, 22]

In [32]:
data = list(np.sort(data))
# for sorting the data in the given data set in median the data is int the for of asending order

In [31]:
data

[22, 45, 45, 55, 65, 65, 65, 65, 66, 66, 77, 88, 98]

In [33]:
data[len(data)//2]

65

In [42]:
lst = list (np.sort([1,5,2,3,8,9,4,6,10,20,14,60])) # np.sort takes an array-like as input
print(lst)
if (len(lst)%2 ==0):
    print(((lst[len(lst)//2-1]) + lst[len(lst)//2]) / 2) # indented line
    print('Even') # indented line, and the condition for even is len(lst)%2 == 0
else:
    print(lst[len(lst)//2]) # indented line
    print('Odd') # indented line, and the condition for odd is len(lst)%2 != 0

[1, 2, 3, 4, 5, 6, 8, 9, 10, 14, 20, 60]
7.0
Even

In [51]:
import numpy as np # import the numpy library

def median(data): # define your own median function
    data_sorted = np.sort(data)
    n = len(data_sorted)
    if n % 2 == 0:
        return (data_sorted[n//2 - 1] + data_sorted[n//2]) / 2
    else:
        return data_sorted[n//2]

print("eng :",median(list(df['eng'])))
print("hin :",median(list(df['hin'])))
print("sci :",median(list(df['sci'])))

eng : 65
hin : 66
sci : 78