<a href="https://colab.research.google.com/github/Hrishikesh6666/DSA/blob/main/UNIVERSITY_MANAGEMENT_SYSTEM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
dct={1234 :{'first_name' : 'Satyam',
             'last_name' : 'Singh',
             'Phone_no'  :'8759654565',
             'Degree'    :'B-TECH',
             'Email'     :'abc123@gmil.com',
             'Batch'     :'2020-25'},

     2468 :{'first_name' : 'Hrishikesh',
             'last_name' :'Shingote',
             'Phone_no'  :'8767269519',
             'Degree'    :'B-TECH',
             'Email'     :'abd134@gmil.com',
             'Batch'     :'2020-25'}
     }

In [7]:
dct

{1234: {'first_name': 'Satyam',
  'last_name': 'Singh',
  'Phone_no': '8759654565',
  'Degree': 'B-TECH',
  'Email': 'abc123@gmil.com',
  'Batch': '2020-25'},
 2468: {'first_name': 'Hrishikesh',
  'last_name': 'Shingote',
  'Phone_no': '8767269519',
  'Degree': 'B-TECH',
  'Email': 'abd134@gmil.com',
  'Batch': '2020-25'}}

DISPLAY USER DETAILS BY REGESTRATION NUMBER

In [13]:
reg_no = int(input('Enter the registration no: '))

print('-'*30)
print(dct[reg_no]['first_name'])
print(dct[reg_no]['last_name'])
print(dct[reg_no]['Phone_no'])
print(dct[reg_no]['Degree'])
print(dct[reg_no]['Email'])
print(dct[reg_no]['Batch'])

Enter the registration no: 2468
------------------------------
Hrishikesh
Shingote
8767269519
B-TECH
abd134@gmil.com
2020-25

ADDING NEW DATA DETAILS OF STUDENT INTO DATASET

In [14]:
reg_no     = int(input('Reg No       : '))
first_name = str(input('First name   : '))
last_name  = str(input('Last name    : '))
cell       = int(input('Phone number : '))
mail       = str(input('Mail ID      : '))
degree     = str(input('Degree       : '))
batch      = str(input('Batch        : '))

temp = {}
temp['first_name'] = first_name
temp['last_name'] = last_name
temp['cell'] = cell
temp['mail'] = mail
temp['degree'] = degree
temp['batch'] = batch

dct[reg_no] = temp

Reg No       : 4812
First name   : Harshita
Last name    : solenkey
Phone number : 8866452362
Mail ID      : efg456@gmail.com
Degree       : B-Tech
Batch        : 2020-25

In [15]:
dct

{1234: {'first_name': 'Satyam',
  'last_name': 'Singh',
  'Phone_no': '8759654565',
  'Degree': 'B-TECH',
  'Email': 'abc123@gmil.com',
  'Batch': '2020-25'},
 2468: {'first_name': 'Hrishikesh',
  'last_name': 'Shingote',
  'Phone_no': '8767269519',
  'Degree': 'B-TECH',
  'Email': 'abd134@gmil.com',
  'Batch': '2020-25'},
 4812: {'first_name': 'Harshita',
  'last_name': 'solenkey',
  'cell': 8866452362,
  'mail': 'efg456@gmail.com',
  'degree': 'B-Tech',
  'batch': '2020-25'}}

SECTION DETAIL

In [16]:
section = {'K1632' : {'hod' : 12545, 'degree' : 'CSE', 'teacher' : [12255, 12343, 15434,13242]},
           'K1631' : {'hod' : 12544, 'degree' : 'CSE', 'teacher' : [12343, 15434,12255]},
           'K1630' : {'hod' : 12543, 'degree' : 'CSE', 'teacher' : [13242,12343]}}

Teachers Details

In [18]:
teacher = { 12543 : {'first_name':'Ashish',
                 'mail' : 'abc@gmail.com'},
      12255 :  {'first_name':'Abhishek',
                 'mail' : 'abc@gmail.com'},
      12256 :  {'first_name':'Abhi',
                 'mail' : 'abc@gmail.com'},
      12343 : {'first_name':'Abhimanyu',
                 'mail' : 'abc@gmail.com'},
      15434 : {'first_name':'Karan',
                 'mail' : 'abc@gmail.com'},
      13242 : {'first_name':'Arjun',
                 'mail' : 'abc@gmail.com'},
      12544 : {'first_name':'Ayush',
                 'mail' : 'abc@gmail.com'},
      12543 : {'first_name':'Abkush',
                 'mail' : 'abc@gmail.com'},
      12348 : {'first_name':'Bharat',
                 'mail' : 'abc@gmail.com'}}

In [19]:
print("HOD : ", teacher[section['K1631']['hod']]['first_name'],'(',section['K1631']['hod'],')')
print("Degree : ", section['K1631']['degree'])

print('--Teachers--')
for i in section['K1631']['teacher']:
    print(teacher[i]['first_name'])

print('-'*10)

HOD :  Ayush ( 12544 )
Degree :  CSE
--Teachers--
Abhimanyu
Karan
Abhishek
----------

In [21]:
 12348

12348