<a href="https://colab.research.google.com/github/Hrishikesh6666/DSA/blob/main/Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bacic Calculator Should Perform ADD ,SUM ,DIV ,MUL,SQURE

In [2]:
A = 40
B = 5

In [3]:
print (A+B)
print (A-B)
print (A/B)
print (A//B)
print (A*B)
print (A**B)

45
35
8.0
8
200
102400000

String In Python

In [4]:
# @title Default title text
Text = " Python Programming if fun ! "

In [5]:
Text [:-6]

' Python Programming if '

Conditions In Python [IF/ELSE]

In [6]:
# CODE FOR FINDING THE NUMBER IS [EVEN OR ODD]
number = int(input("Enter a number : " ))
if (number % 2 == 0):
 print("Even")
if (number % 2 == 1):
  print("ODD")

Enter a number : 56
Even

VOTE ELIGABILITY CHAKE

In [7]:
# CODE FOR FINDING THE ELIGIBILITY OF VOTING IN INDIA using If and Else Condition
number = int(input("Enter a AGE : " ))
if (number>=18 and number<=100):
 print("Eligible for Vote!")
else:
  print("Not Eligible for Vote! ")

Enter a AGE : 20
Eligible for Vote!

Greading System Based On Marks

In [8]:
marks = int(input("Enter a Marks : " ))
# 95+    = A+
# 90-95  = A
# 80-89  = B+
# 70-79  = B
# 60-69  = C
# 50-59  = D

if (marks > 95):
  print("+A")
elif (marks >= 90 and marks <=95):
  print("A")
elif (marks >= 80 and marks <=89):
  print("+B")
elif(marks >= 70 and marks <=79):
  print("B")
elif (marks >= 60 and marks <=65):
  print("C")
elif(marks >= 50 and marks <=55):
  print("D")

Enter a Marks : 65
C

Loop in Python

In [9]:
num = int(input("enter the Number : "))
for i in range (1,11):
  print(num , "*",i ,"=",i*num)

enter the Number : 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

Loop Project Assignment

In [10]:
for i in range(2, 101, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [11]:
for i in range (1,101):
  print (i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [12]:
# Initialize a variable to store the sum
sum_of_numbers = 0

# Use a loop to iterate through the first 10 natural numbers
for i in range(1, 11):
    sum_of_numbers += i

# Display the sum
print("Sum of the first 10 natural numbers:", sum_of_numbers)

Sum of the first 10 natural numbers: 55

NESTED FOR LOOP IN PYTHON

In [13]:
# 3 Dice are roll probability of all posibility
for dice_1 in range(1,7):
  for dice_2 in range(1,7):
    for dice_3 in range(1,7):

         print('[',dice_1,',',dice_2,',',dice_3,']')

[ 1 , 1 , 1 ]
[ 1 , 1 , 2 ]
[ 1 , 1 , 3 ]
[ 1 , 1 , 4 ]
[ 1 , 1 , 5 ]
[ 1 , 1 , 6 ]
[ 1 , 2 , 1 ]
[ 1 , 2 , 2 ]
[ 1 , 2 , 3 ]
[ 1 , 2 , 4 ]
[ 1 , 2 , 5 ]
[ 1 , 2 , 6 ]
[ 1 , 3 , 1 ]
[ 1 , 3 , 2 ]
[ 1 , 3 , 3 ]
[ 1 , 3 , 4 ]
[ 1 , 3 , 5 ]
[ 1 , 3 , 6 ]
[ 1 , 4 , 1 ]
[ 1 , 4 , 2 ]
[ 1 , 4 , 3 ]
[ 1 , 4 , 4 ]
[ 1 , 4 , 5 ]
[ 1 , 4 , 6 ]
[ 1 , 5 , 1 ]
[ 1 , 5 , 2 ]
[ 1 , 5 , 3 ]
[ 1 , 5 , 4 ]
[ 1 , 5 , 5 ]
[ 1 , 5 , 6 ]
[ 1 , 6 , 1 ]
[ 1 , 6 , 2 ]
[ 1 , 6 , 3 ]
[ 1 , 6 , 4 ]
[ 1 , 6 , 5 ]
[ 1 , 6 , 6 ]
[ 2 , 1 , 1 ]
[ 2 , 1 , 2 ]
[ 2 , 1 , 3 ]
[ 2 , 1 , 4 ]
[ 2 , 1 , 5 ]
[ 2 , 1 , 6 ]
[ 2 , 2 , 1 ]
[ 2 , 2 , 2 ]
[ 2 , 2 , 3 ]
[ 2 , 2 , 4 ]
[ 2 , 2 , 5 ]
[ 2 , 2 , 6 ]
[ 2 , 3 , 1 ]
[ 2 , 3 , 2 ]
[ 2 , 3 , 3 ]
[ 2 , 3 , 4 ]
[ 2 , 3 , 5 ]
[ 2 , 3 , 6 ]
[ 2 , 4 , 1 ]
[ 2 , 4 , 2 ]
[ 2 , 4 , 3 ]
[ 2 , 4 , 4 ]
[ 2 , 4 , 5 ]
[ 2 , 4 , 6 ]
[ 2 , 5 , 1 ]
[ 2 , 5 , 2 ]
[ 2 , 5 , 3 ]
[ 2 , 5 , 4 ]
[ 2 , 5 , 5 ]
[ 2 , 5 , 6 ]
[ 2 , 6 , 1 ]
[ 2 , 6 , 2 ]
[ 2 , 6 , 3 ]
[ 2 , 6 , 4 ]
[ 2 , 6 , 5 ]
[ 2 , 6 , 6 ]
[ 3 , 1 , 1 ]
[ 3 , 1 , 2 ]
[ 3 , 1 , 3 ]
[ 3 , 1 , 4 ]
[ 3 , 1 , 5 ]
[ 3 , 1 , 6 ]
[ 3 , 2 , 1 ]
[ 3 , 2 , 2 ]
[ 3 , 2 , 3 ]
[ 3 , 2 , 4 ]
[ 3 , 2 , 5 ]
[ 3 , 2 , 6 ]
[ 3 , 3 , 1 ]
[ 3 , 3 , 2 ]
[ 3 , 3 , 3 ]
[ 3 , 3 , 4 ]
[ 3 , 3 , 5 ]
[ 3 , 3 , 6 ]
[ 3 , 4 , 1 ]
[ 3 , 4 , 2 ]
[ 3 , 4 , 3 ]
[ 3 , 4 , 4 ]
[ 3 , 4 , 5 ]
[ 3 , 4 , 6 ]
[ 3 , 5 , 1 ]
[ 3 , 5 , 2 ]
[ 3 , 5 , 3 ]
[ 3 , 5 , 4 ]
[ 3 , 5 , 5 ]
[ 3 , 5 , 6 ]
[ 3 , 6 , 1 ]
[ 3 , 6 , 2 ]
[ 3 , 6 , 3 ]
[ 3 , 6 , 4 ]
[ 3 , 6 , 5 ]
[ 3 , 6 , 6 ]
[ 4 , 1 , 1 ]
[ 4 , 1 , 2 ]
[ 4 , 1 , 3 ]
[ 4 , 1 , 4 ]
[ 4 , 1 , 5 ]
[ 4 , 1 , 6 ]
[ 4 , 2 , 1 ]
[ 4 , 2 , 2 ]
[ 4 , 2 , 3 ]
[ 4 , 2 , 4 ]
[ 4 , 2 , 5 ]
[ 4 , 2 , 6 ]
[ 4 , 3 , 1 ]
[ 4 , 3 , 2 ]
[ 4 , 3 , 3 ]
[ 4 , 3 , 4 ]
[ 4 , 3 , 5 ]
[ 4 , 3 , 6 ]
[ 4 , 4 , 1 ]
[ 4 , 4 , 2 ]
[ 4 , 4 , 3 ]
[ 4 , 4 , 4 ]
[ 4 , 4 , 5 ]
[ 4 , 4 , 6 ]
[ 4 , 5 , 1 ]
[ 4 , 5 , 2 ]
[ 4 , 5 , 3 ]
[ 4 , 5 , 4 ]
[ 4 , 5 , 5 ]
[ 4 , 5 , 6 ]
[ 4 , 6 , 1 ]
[ 4 , 6 , 2 ]
[ 4 , 6 , 3 ]
[ 4 , 6 , 4 ]
[ 4 , 6 , 5 ]
[ 4 , 6 , 6 ]
[ 5 , 1 , 1 ]
[ 5 , 1 , 2 ]
[ 5 , 1 , 3 ]
[ 5 , 1 , 4 ]
[ 5 , 1 , 5 ]
[ 5 , 1 , 6 ]
[ 5 , 2 , 1 ]
[ 5 , 2 , 2 ]
[ 5 , 2 , 3 ]
[ 5 , 2 , 4 ]
[ 5 , 2 , 5 ]
[ 5 , 2 , 6 ]
[ 5 , 3 , 1 ]
[ 5 , 3 , 2 ]
[ 5 , 3 , 3 ]
[ 5 , 3 , 4 ]
[ 5 , 3 , 5 ]
[ 5 , 3 , 6 ]
[ 5 , 4 , 1 ]
[ 5 , 4 , 2 ]
[ 5 , 4 , 3 ]
[ 5 , 4 , 4 ]
[ 5 , 4 , 5 ]
[ 5 , 4 , 6 ]
[ 5 , 5 , 1 ]
[ 5 , 5 , 2 ]
[ 5 , 5 , 3 ]
[ 5 , 5 , 4 ]
[ 5 , 5 , 5 ]
[ 5 , 5 , 6 ]
[ 5 , 6 , 1 ]
[ 5 , 6 , 2 ]
[ 5 , 6 , 3 ]
[ 5 , 6 , 4 ]
[ 5 , 6 , 5 ]
[ 5 , 6 , 6 ]
[ 6 , 1 , 1 ]
[ 6 , 1 , 2 ]
[ 6 , 1 , 3 ]
[ 6 , 1 , 4 ]
[ 6 , 1 , 5 ]
[ 6 , 1 , 6 ]
[ 6 , 2 , 1 ]
[ 6 , 2 , 2 ]
[ 6 , 2 , 3 ]
[ 6 , 2 , 4 ]
[ 6 , 2 , 5 ]
[ 6 , 2 , 6 ]
[ 6 , 3 , 1 ]
[ 6 , 3 , 2 ]
[ 6 , 3 , 3 ]
[ 6 , 3 , 4 ]
[ 6 , 3 , 5 ]
[ 6 , 3 , 6 ]
[ 6 , 4 , 1 ]
[ 6 , 4 , 2 ]
[ 6 , 4 , 3 ]
[ 6 , 4 , 4 ]
[ 6 , 4 , 5 ]
[ 6 , 4 , 6 ]
[ 6 , 5 , 1 ]
[ 6 , 5 , 2 ]
[ 6 , 5 , 3 ]
[ 6 , 5 , 4 ]
[ 6 , 5 , 5 ]
[ 6 , 5 , 6 ]
[ 6 , 6 , 1 ]
[ 6 , 6 , 2 ]
[ 6 , 6 , 3 ]
[ 6 , 6 , 4 ]
[ 6 , 6 , 5 ]
[ 6 , 6 , 6 ]

In [14]:
C=0
# All dice_1 all pointrs are even
for dice_1 in range(1,7):
  if(dice_1%2==0):
# All dice_2 all pointrs are even
   for dice_2 in range(1,7):
      if(dice_2%2==0):

# All dice_3 all pointrs are ODD
         for dice_3 in range(1,7):
            if(dice_3%2==1):


                 print('[',dice_1,',',dice_2,',',dice_3,']')
                 C = C + 1
                 print(C)

[ 2 , 2 , 1 ]
1
[ 2 , 2 , 3 ]
2
[ 2 , 2 , 5 ]
3
[ 2 , 4 , 1 ]
4
[ 2 , 4 , 3 ]
5
[ 2 , 4 , 5 ]
6
[ 2 , 6 , 1 ]
7
[ 2 , 6 , 3 ]
8
[ 2 , 6 , 5 ]
9
[ 4 , 2 , 1 ]
10
[ 4 , 2 , 3 ]
11
[ 4 , 2 , 5 ]
12
[ 4 , 4 , 1 ]
13
[ 4 , 4 , 3 ]
14
[ 4 , 4 , 5 ]
15
[ 4 , 6 , 1 ]
16
[ 4 , 6 , 3 ]
17
[ 4 , 6 , 5 ]
18
[ 6 , 2 , 1 ]
19
[ 6 , 2 , 3 ]
20
[ 6 , 2 , 5 ]
21
[ 6 , 4 , 1 ]
22
[ 6 , 4 , 3 ]
23
[ 6 , 4 , 5 ]
24
[ 6 , 6 , 1 ]
25
[ 6 , 6 , 3 ]
26
[ 6 , 6 , 5 ]
27

In [15]:
#write a nested for loop to print a pattern of * in the shape of right angle triangle

rows = 5  # You can change the number of rows as per your requirement

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *