<a href="https://colab.research.google.com/github/Hrishikesh6666/Data_science/blob/main/Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FUNCTIONS IN PYTHOIN

In [1]:
def power():
  print("Hello world")
  power()

In [2]:
def power():
  print("Hello world")

  for i in  range (6):
    power()

In [3]:
pow_= 5
num =6
n = 1
for i in range(pow_):
  n = n * num
  print(n,num)

6 6
36 6
216 6
1296 6
7776 6

In [4]:
# Create a function named add () that takes two numbers as argument and return their sum
def add(num1, num2):
    return num1 + num2

# Example usage:
result = add(5, 3)
print(result)  # Output: 8

8

In [5]:
## Create a function named add () that takes two numbers as argument and return their sum taking input from User
def add():
    # Taking input from the user for the first number
    num1 = float(input("Enter the first number: "))

    # Taking input from the user for the second number
    num2 = float(input("Enter the second number: "))

    # Calculating the sum
    result = num1 + num2

    # Returning the sum
    return result

# Calling the add function and printing the result
sum_result = add()
print("The sum is:", sum_result)

Enter the first number: 85
Enter the second number: 52
The sum is: 137.0

# Liat in PYTHON

In [6]:
# code
#  Roll No   - 0
#  Name      - 1
#  Hindi     - 2
#  English   - 3
#  Maths     - 4
#  Science   - 5
Data = [ [1,'pratik',60,75,65,90],
         [2,'Ram', 65,75,95,95],
         [3,'Hrishikesh',79,85,90,89],
         [4,'Pranav', 65,75,95,95]]

In [7]:
# Student Details Based on Their Roll No Include their Average and Totel Marks
roll_NO =int(input("Enter your Roll NO :  "))

for student in Data :
   if (student [0]==roll_NO):
     print("name      :",student[1])
     print("Hindi     :",student[2])
     print("English   :",student[3])
     print("Maths     :",student[4])
     print("Science   :",student[5])
     print('_'*25)
     print("Total  : ",sum(student[2:]))
     print('_'*25)
     print("Averge  :",sum(student[2:])/len(student[2:]))

Enter your Roll NO :  3
name      : Hrishikesh
Hindi     : 79
English   : 85
Maths     : 90
Science   : 89
_________________________
Total  :  343
_________________________
Averge  : 85.75

In [10]:
# Average and Total Marks in English And Name of Student
eng = []
for i in Data:
  eng.append(i[3])

#Print the list of english marks
print(eng)

#calculate and print the average English Marks
ave_eng = sum(eng)/len(eng)
print("Average English Marks :",ave_eng)

[75, 75, 85, 75]
Average English Marks : 77.5